<!DOCTYPE HTML>
<html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"><link rel="manifest" href="manifest.json"><meta name="author" value="iaji@siskam.link (Ibnu Daru Aji)"><meta name="theme-color" content="#2A2B2A"><meta name="name" content="Nothing Unusual"><meta name="short_name" content="Normal"><meta name="description" content="Index"><style>{{{indexcss}}}</style><link rel="icon" href="favicon.ico"><title>Nothing Unusual - {{indextitle}}</title></head><body><div class="layout"><div class="atas"><h1>{{indextitle}}</h1></div><div class="isi"><hr><ul>{{#indexindice}}<li><a href="{{menulinkurl}}">{{menulinktitle}}</></li>{{/indexindice}}</ul></div>{{>menu}}</div></body></html>
