<div class="bawah"><hr><div class="kontainer"><div class="isian"><b><a href="index.html">Index</a></b></div>{{#pagelinks}}<div class="isian"><b><a href="{{menulinkurl}}">{{menulinktitle}}</a></b></div>{{/pagelinks}}{{#indexlinks}}<div class="isian"><b><a href="{{menulinkurl}}">{{menulinktitle}}</a></b></div>{{/indexlinks}}<div class="isian"><b><a href="feed.xml">Feed</a></b></div></div><hr><b>This material is shared under the <a href="https://creativecommons.org/licenses/by/4.0">CC-BY License.</a></b></div>
